{% extends "base.html" %}
{% block title %}{% endblock%}
{% block connect %}
<hr class="my-4">
<p class="lead">
  <a class="btn btn-primary btn-lg" href="{{ url_for('add')}}" role="button">Ajouter un flux</a>
  <a class="btn btn-primary btn-lg" href="{{ url_for('index_flow')}}" role="button">vision des flux</a>
  <a class="btn btn-primary btn-lg" href="{{ url_for('deconnexion')}}" role="button">Deconnection</a>
</p>
{% endblock %}
{% block main %}{% endblock %}
