<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}LectuRSS</title>
    <meta charset="utf8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="jumbotron text-center mp-3">
	<h1>LectuRSS</h1>
	{% block connect %}{% endblock%}
      </div>
    </header>
    <main class="container mt-3 mb-3">
	{% block main %}{% endblock %}
    </main>
    <footer class="footer py-4 bg-dark text-white-50" style="bottom:0;position:sticky;width:100%">
      <div class="container text-center">
	<p>Pecunia Corp. &copy; - LectuRSS</p>
      </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
