{% extends "base.html" %}
{% block title %}{{ flowparse.feed.title }} - {% endblock %}
{% block main %}
<div class="container">
  <div class="row text-center">
    <div class="col-sm">
      <H1>{{ flowparse.feed.title }}</H1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm">
      <H1>{{ flowparse.feed.description }}</H1>
    </div>
  </div>
  <table class="table table-striped">
    {% for item in element %}
    <tr class="row">
      <td class="col-12 col-md-11">
        <h5>{{ item.title }}</h5>
      </td>
      <td class="col-4">
        <p>{{ item.published }}</p>
      </td>
    </tr>
    <tr class="row">
      <td class="col-sm">
        <p>{{ item.summary }}</p>
      </td>
    </tr>        
    {% endfor %}  
  </table>
</div>  
{% endblock %}
  
