{% extends "base.html" %}
{% block main %}
<ul class="list-group">
  <li class="list-group-item"><a href="{{ url_for('login_page') }}">Connection</a></li>
  <li class="list-group-item"><a href="{{ url_for('register') }}"}>Inscription</a></li>
</ul>
{% endblock %}
