{% extends "base_connected.html" %}
{% block title %}{% endblock %}
{% block main %}
<table class="table table-hover">
  {% for (flowParse, fluxOrigin) in zip %}
  <tr class="row">
    <td class="col-12 col-md-11">
      <a href="{{ url_for('flow', link=fluxOrigin.link) }}" class="article-lien">
        <article class="articles">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h1>{{flowParse.feed.title}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h2>{{flowParse.feed.description}}</h2>
              </div> 
            </div>
          </div>  
        </article>
      </a>
    </td>
    <td class="col-12 col-md-1">
      <a href="{{ url_for('remove',idUser=fluxOrigin.idUser, link=fluxOrigin.link) }}"  class="deleteFlow">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

