{% extends "base.html" %}
{% block title %}Login - {% endblock %}
{% block main %}
<form method="POST" class="m-3">
  <div class="text-center">
    <img class="mb-4" src="/static/img/logo.png" alt="" width="72" height="72">
    <h2>Connection</h2>
  </div>
  {% for field in form %}
    <div class="form-group">
      {% if field.widget.input_type != 'hidden' %}
        {{ field.label(class_="form-label") }}
        {% if field.errors %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
	{% endif %}
      {% endif %}
     {{ field(class_="form-control form-input") }}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary btn-block" type="submit">Valider</button>
</form>
{% endblock %}
